/* ---- ACCOUNT SETTINGS LAYOUT  */
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 30px;
    min-height: 60vh;
    flex: 1;
}

/* ----- SIDEBAR STYLING ----- */
.sidebar {
    background: white;
    padding: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

/* Sidebar button styling */

/* General styling + alignment */
.sidebar-button {
    width: 100%;
    text-align: left;
    padding: 15px 25px;
    background: none;
    border: none;
    border-left: 4px solid transparent;
    font-size: 15px;
    color: #666;
    cursor: pointer;
    font-weight: 500;
}

/* When hovering over sidebar button */
.sidebar-button:hover {
    background: #f9fdf6; /* Light green hover */
    color: #2d5016;
}

/* When pressing on sidebar button */
.sidebar-button.active {
    background: #eef5e8;
    border-left-color: #2d5016;
    color: #2d5016;
    font-weight: 600;
}

/* --- MAIN CONTENT/FORMS */

.main-content {
    width: 100%;
    min-width: 0;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.panel {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.hidden {
    display: none !important; /* Hides a panel (important so it overrides other other stuff for panel) */
}

.modify-account-form {
    max-width: 500px; /* Keeps the form inputs from stretching too wide on large displayus */
}

.submit-button {
    margin-top: 15px;
    width: auto; /* Overrides 100% width from global css */
    padding: 12px 30px;
}


/*--- DELETE ACCOUNT STYLES ----*/

/* Warning box formatting + colour */
.warning-box {
    background-color: #fde0e0;
    border: 1px solid #f8baba;
    color: #c62828;
    padding: 25px 25px;
    border-radius: 5px;
    margin-bottom: 25px;
    line-height: 1.5;
}

/* Warning button formatting + enabled colour */
.warning-button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
 
/* When the warning buttons disabled its greyed out + cursor has O + X over it  */
.warning-button:disabled {
    background-color: #e0e0e0;
    color: #9e9e9e;
    cursor: not-allowed;
}


/* Fixes checkbox CSS */
.form-group-checkbox {
    margin-bottom: 20px;
}

.form-group-checkbox div {
    margin-bottom: 8px;
}

.form-group-checkbox label {
    color: #333;
    font-weight: 500;
    font-size: 14px;
}

.form-group-checkbox input {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.form-group-checkbox input:focus {
    outline: none;
    border-color: #2d5016;
    background-color: #f9fdf6;
}